body {
  margin: 0;
  padding: 0;
  background: #fa7a7a;
  text-align: center;
}
header {
  height: 80px;
  width: 100%;
}
article {
  height: calc(100vh - 120px);
}
#animal {
  display: none;
}
form{
  display: none;
}
form input {
  display: block;
  margin: 10px auto;
}
div {
  width: 400px;
  height: 400px;
  margin: auto;
}
footer {
  height: 40px;
  width: 100%;
}